# EDA (Exploratory Data Analysis) Llamadas 123 Julio 2022

In [3]:
# Importar librerias para manipulacion de datos
import numpy as np
import pandas as pd

#Importar librerias de SO
import os 
from pathlib import Path

In [12]:
filename="llamadas123_julio_2022.csv"
data_dir="raw"
root_dir=Path(".").resolve().parent
print("El path del proyecto es: ", root_dir)

file_path=os.path.join(root_dir,"data",data_dir,filename)

data = pd.read_csv(file_path, encoding='latin-1', sep =';')

data.head()

El path del proyecto es:  C:\Users\Estudiante\Documents\ESEIT2022_BDATA_2022b

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [23]:
data.shape # Retorna una tupla con las dimensiones de la tabla (n_rows, n_cols)

(13055, 11)

In [25]:
data.dtypes # retorna los tipos de dato de cada columna

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [39]:
#Extraer los valores unicos de las columnas
col='GENERO'
data[col].unique()

array(['FEMENINO', 'MASCULINO', 'SIN_DATO'], dtype=object)

In [40]:
len(data[col].unique())

3

In [46]:
for col in data.columns:
    print(col)

NUMERO_INCIDENTE
FECHA_INICIO_DESPLAZAMIENTO_MOVIL
CODIGO_LOCALIDAD
LOCALIDAD
EDAD
UNIDAD
GENERO
RED
TIPO_INCIDENTE
PRIORIDAD
RECEPCION

In [48]:
for col in data.columns:
    #valores_unicos=data[col].unique() -> Guardando en Variable
    n_valores= len(data[col].unique()) # -> Contandolo sin guardar en variable
    print(col, n_valores) # Imprime los nombres de las columnas + funcion len (el len es similar a un distinct + un count)

NUMERO_INCIDENTE 12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL 12781
CODIGO_LOCALIDAD 20
LOCALIDAD 20
EDAD 100
UNIDAD 6
GENERO 3
RED 5
TIPO_INCIDENTE 21
PRIORIDAD 4
RECEPCION 5235

In [49]:
#Crear un diccionario vacio
dict_resumen = dict()
for col in data.columns:
    valores_unicos=data[col].unique() 
    n_valores= len(valores_unicos) 
    
    dict_resumen[col] = n_valores

dict_resumen

#Tuplas ()
#Listas []
#Diccionarios {}

{'NUMERO_INCIDENTE': 12015,
 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781,
 'CODIGO_LOCALIDAD': 20,
 'LOCALIDAD': 20,
 'EDAD': 100,
 'UNIDAD': 6,
 'GENERO': 3,
 'RED': 5,
 'TIPO_INCIDENTE': 21,
 'PRIORIDAD': 4,
 'RECEPCION': 5235}

In [51]:
pd.DataFrame.from_dict(dict_resumen, orient='index')

                                       0
NUMERO_INCIDENTE                   12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL  12781
CODIGO_LOCALIDAD                      20
LOCALIDAD                             20
EDAD                                 100
UNIDAD                                 6
GENERO                                 3
RED                                    5
TIPO_INCIDENTE                        21
PRIORIDAD                              4
RECEPCION                           5235

In [62]:
df_resumen = pd.DataFrame.from_dict(dict_resumen, orient='index')
df_resumen [0]
df_resumen.rename ({0:'Count'},axis=1, inplace=True) # Axis 0 Filas, Axis 1 Columnas

df_resumen

                                   Count
NUMERO_INCIDENTE                   12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL  12781
CODIGO_LOCALIDAD                      20
LOCALIDAD                             20
EDAD                                 100
UNIDAD                                 6
GENERO                                 3
RED                                    5
TIPO_INCIDENTE                        21
PRIORIDAD                              4
RECEPCION                           5235

In [64]:
out_name = 'resumen_' + filename
out_path = os.path.join(root_dir, 'data','processed',out_name)
df_resumen.to_csv(out_path)